user default off
user sa6_app on #<sha256> ~* &* +@all -@dangerous +info -keys -config -debug -restore -restore-asking -migrate -module -monitor -shutdown -failover -replicaof -slaveof
user sa6_ops on #<sha256> ~* &* +@all
user sa6_monitor on #<sha256> resetkeys resetchannels %R~superapp:* -@all +ping +info +config|get +slowlog|get +latency|latest +latency|history +client|list +dbsize +memory|stats +xinfo|groups +xinfo|stream +pubsub|shardnumsub
